.pie {
	/* background-color: blue; */
  position: relative;
}

.bar {
  /* background-color: pink; */
	position: relative;
}

.sankey {
	/* background-color: red; */
	width: 50%;
	transform: translate(0, -50px);
}

.inline-block-child {
	width: 50%;
  display: inline-block;
}

.right {
	align-items: center;
}

.parent {
  /* background: mediumpurple; */
	display: flex;
	justify-content: center;
	align-items: center;

	gap: 20px;
}
